div#main{
    height:1000px;
    background-image: url(../images/main_body.jpg);
    background-repeat: repeat-y;
    background-size: 100% auto;
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
form{
    display: table;
    width: 500px;
    height: 400px;
    text-align: center;
    margin-left: 400px;
    margin-top: 200px;
    background-color: rgba(159, 45, 81, 0.758);
    padding: 50px;
    border-style: groove;
    border-color: rgb(159, 45, 81);
    border-radius: 50%;
}
.h2{
    line-height: 2em;
    /* padding: 30px; */
    font-weight: bold;
    unicode-bidi: isolate;
}
div.tableRow{
    display: table-row;
}
div.tableRow label{
    vertical-align: top;
}
div.tableRow input{
    font-family: 华文楷体;
    font-weight: bold;
    width: 200px;
    border-color: aqua;
    border-style: groove;
    border-radius: 5px;
}

div.tableRow textarea{
    font-family: 华文楷体;
    font-weight: bold;
    width: 200px;
    border-color: aqua;
    border-style: groove;
    border-radius: 5px;
}
div#ending-sentence{
    width: 600px;
    height: 300px;
    text-align: center;
    display: block;
    margin-left: 500px ;
    margin-top: 80px;
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
}
div#ending-sentence h2{
    color: rgb(77, 140, 235);
    line-height: 2em;
}
div#ending-sentence {
    color: rgb(77, 140, 235);
    line-height: 2em;
}
