
div#main{
    height:1000px;
    background-image: url(../images/main_body.jpg);
    background-repeat: repeat-y;
    background-size: 100% auto;
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
div#wrapper{
    display: flex;
    width: 100%;
    margin: 80px;
    margin-left: 300px;
    box-sizing: border-box;
    background-color: rgba(254, 82, 194, 0.5);
}
table {
    width: 100%;
    height: 800px;
    border-collapse: collapse;
}
        
th, td {
    border: 1px solid #eecfe9;
    padding: 10px 15px;
    text-align: center;
}
        
th {
    background-color: rgba(254, 82, 194, 0.5);
    font-weight: bold;
    width: 120px; /* 固定表头宽度 */
}
        
.merged-cell {
    background-color: rgba(254, 82, 194, 0.5);
}
        
.avatar-cell {
    background-image: url(../images/证件照.jpg);
    background-size: cover; 
    vertical-align: middle;
    text-align: center;
    width: 150px; /* 固定头像单元格宽度 */
}
